{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "Projets list" | trans }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ "Id" | trans }}</th>
                <th>{{ "Nom projet" | trans }}</th>
                <th>{{ "Entreprise" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projets_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.nomProjet }}</td>
                <td>{{ projet.entreprise }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projets_show', { 'id': projet.id }) }}">{{ "show" | trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('projets_edit', { 'id': projet.id }) }}">{{ "edit" | trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{{ path('projet_nom') }}">
        <select name="choixChef" size="1">
            {% for i in resultat %}
                <option>{{ i.username }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="{{ 'Rechercher' | trans }}" />
    </form>

    <ul>

        <li>
            <a href="{{ path('projets_new') }}">Create a new projet</a>
        </li>
    </ul>
{% endblock %}
