{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom projet</th>
                <th>Entreprise</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projets_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.nomProjet }}</td>
                <td>{{ projet.entreprise }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projets_show', { 'id': projet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projets_edit', { 'id': projet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{{ path('projet_nom') }}">
        <p>Créer un filtre : <input type="text" name="nom" /><input type="submit" value="Envoyer" /></p>
    </form>
    <ul>
        <li>
            <a href="{{ path('projets_new') }}">Create a new projet</a>
        </li>
    </ul>
{% endblock %}
