{% extends 'base.html.twig' %}

{% block body %}
    {% if proj %}
        <h1>{{ "Voici les projects dont" | trans }} {{ proj[0].chef }} {{ "est le directeur" | trans }}</h1>
        <table border="1">
            <thead>
            <tr>
                <th>{{ "Id" | trans }}</th>
                <th>{{ "Nom du projet" | trans }}</th>
                <th>{{ "Entreprise" | trans }}</th>
                <th>{{ "Date de début du projet" | trans }}</th>
                <th>{{ "Date de fin du projet" | trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% for valeur in proj %}
                <tr>
                    <td>{{ valeur.id }}</td>
                    <td>{{ valeur.nomProjet }}</td>
                    <td>{{ valeur.entreprise }}</td>
                    <td>{{ valeur.dateDebut }}</td>
                    <td>{{ valeur.dateFin }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "Ce directeur n'a pas de projet en cours" | trans }}</p>
    {% endif %}

    <a href="{{ path('projets_index') }}">{{ "Retour à l'index des projets" | trans }}</a>
{% endblock %}