{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "Projet" | trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ "Id" | trans }}</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>{{ "Nom du projet" | trans }}</th>
                <td>{{ projet.nomProjet }}</td>
            </tr>
            <tr>
                <th>{{ "Entreprise" | trans }}</th>
                <td>{{ projet.entreprise }}</td>
            </tr>
            <tr>
                <th>{{ "Chef" | trans }}</th>
                <td>{{ projet.chef }}</td>
            </tr>
            <tr>
                <th>{{ "Date de fin" | trans }}</th>
                <td>{{  projet.dateFin }}</td>
            </tr>
            <tr>
                <th>{{ "Date de debut" | trans }}</th>
                <td>{{ projet.dateDebut }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projets_index') }}">{{ "Back to the list" | trans }}</a>
        </li>
        <li>
            <a href="{{ path('projets_edit', { 'id': projet.id }) }}">{{ "Edit" | trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete' | trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
