{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "Statistiques sur l'évolution des taches" | trans }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>{{ "Etat de la tache" | trans }}</th>
                <th>{{ "Nombre de tache à cette évolution" | trans }}</th>
            </tr>
        </thead>

        <tbody>
            {% for valeur in resultat %}
            <tr>
                <th>{{ valeur.evolution }}</th>
                <th>{{ valeur[1] }}</th>
            </tr>
        </tbody>

    {% endfor %}
    </table>
{% endblock %}