{% extends 'base.html.twig' %}

{% block body %}
    {% if taches %}
    <h1>{{ "Voici les taches pourle projet" | trans }} " {{ taches[0].projet }} "</h1>
        <table border="1">
            <thead>
            <tr>
                <th>{{ "Id" | trans }}</th>
                <th>{{ "Evolution" | trans }}</th>
                <th>{{ "Affectation" | trans }}</th>
                <th>{{ "Description" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for valeur in taches %}
                <tr>
                    <td>{{ valeur.id }}</td>
                    <td>{{ valeur.evolution }}</td>
                    <td>{{ valeur.affectation }}</td>
                    <td>{{ valeur.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "Aucune tache pour ce projet" | trans }}</p>
    {% endif %}
    <a href="{{ path('taches_index') }}">{{ "Retour à l'index des taches" | trans }}</a>
{% endblock %}