{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "Tach" | trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ "Id" | trans }}</th>
                <td>{{ tach.id }}</td>
            </tr>
            <tr>
                <th>{{ "Projet" | trans }}</th>
                <td>{{ tach.projet }}</td>
            </tr>
            <tr>
                <th>{{ "Evolution" | trans }}</th>
                <td>{{ tach.evolution }}</td>
            </tr>
            <tr>
                <th>{{ "Affectation" | trans }}</th>
                <td>{{ tach.affectation }}</td>
            </tr>
            <tr>
                <th>{{ "Description" | trans }}</th>
                <td>{{ tach.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taches_index') }}">{{ "Back to the list" | trans }}</a>
        </li>
        <li>
            <a href="{{ path('taches_edit', { 'id': tach.id }) }}">{{ "Edit" | trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete' | trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
