<!DOCTYPE html>


<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<ul>
    <li>Projet
        <ul>
            <li><a href="{{ path('projets_index') }}">Voir tous les projets</a></li>
            <li><a href="{{ path('projets_new') }}">Créer un projet</a></li>
        </ul>
    </li>
    <li>Taches
        <ul>
            <li><a href="{{ path('taches_index') }}">Voir toutes les taches</a></li>
            <li><a href="{{ path('taches_new') }}">Créer une tache</a></li>
            <li><a href="{{ path('taches_stats') }}">Statistiques sur les taches</a> </li>

        </ul>
    </li>
    <li> Utilisateurs
        <ul>
            <li><a href="{{ path('user_index') }}">Voir tous les utilisateurs</a> </li>
            <li><a href="{{ path('user_new') }}">Ajouter un utilisateur</a></li>
            <li><a href="{{ path('user_stats') }}">Statistiques sur les utilisateurs</a> </li>
        </ul>

    </li>


    <li><a href={{ path('homepage',{'_locale':'fr'}) }}>Francais</a></li>
    <li><a href={{ path('homepage',{'_locale':'en'}) }}>Anglais</a></li>
</ul>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
