<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<ul>
    <li>
        <a href="{{ path('projets_index') }}">Projet</a>
    </li>
    <li>
        <a href="{{ path('taches_index') }}">Taches</a>
    </li>
    <li><a href="{{ path('user_index') }}">User</a>
        <ul>
            <li><a href="{{ path('user_index') }}">Voir tous les utilisateurs</a> </li>
            <li><a href="{{ path('user_new') }}">Ajouter un utilisateur</a></li>
            <li><a href="{{ path('user_matthieu') }}">Montrer les Matthieu</a></li>
        </ul>

    </li>


    <li><a href={{ path('homepage',{'_locale':'fr'}) }}>Francais</a></li>
    <li><a href={{ path('homepage',{'_locale':'en'}) }}>Anglais</a></li>
</ul>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
