{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "Users list" | trans }}</h1>

    <table border="1">
        <thead>
        <tr>
            <th>{{ "Id" | trans }}</th>
            <th>{{ "Nom d'utilisateur" | trans }}</th>
            <th>{{ "Email" | trans }}</th>
            <th>{{ "Role" | trans }}</th>
            <th>{{ "Actions" | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">{{ "Voir plus" | trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{{ path('user_metier') }}">
        <p>Créer un filtre :
            <select name="metier">
                <option>Directeur</option>
                <option>Developpeur</option>
            </select>
            <input type="submit" value="{{ 'Envoyer' | trans }}" /></p>
    </form>

    <ul>
        <li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a href="{{ path('fos_user_registration_register') }}">{{ 'Créer un nouvel utilisateur' | trans }}</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}
