{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "Statistiques sur les utilisateurs" | trans }}</h1>
    <table border="1">
        <thead>
        <tr>
            <th>{{ "Utilisateur" | trans }}</th>
            <th>{{ "Nombre de tache affecté" | trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for valeur in resultat %}
        <tr>
            <th>{{ valeur.affectation }}</th>
            <th>{{ valeur[1] }}</th>
        </tr>
        </tbody>

        {% endfor %}
    </table>
{% endblock %}