{% extends 'base.html.twig' %}

{% block body %}
    {% if user %}
    <h1>{{ "Voici les" | trans }} "{{ user[0].metier }}" {{ "de l'entreprise" | trans }}</h1>
        <table border="1">
            <thead>
            <tr>
                <th>{{ "Id" | trans }}</th>
                <th>{{ "Nom d'utilisateur" | trans }}</th>
                <th>{{ "Email" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for valeur in user %}
                <tr>
                    <td>{{ valeur.id }}</td>
                    <td>{{ valeur.username }}</td>
                    <td>{{ valeur.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "Il n'y a pas de personne ayant ce métier dans l'entreprise " | trans }}</p>
    {% endif %}
    <a href="{{ path('user_index') }}">{{ "Retour à l'index des utilisateurs" | trans }}</a>
{% endblock %}