{% extends 'base.html.twig' %}

{% block body %}
    {% if user %}
    <h1>Voici les "{{ user[0].role }}" de l'entreprise</h1>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
            </tr>
            </thead>
            <tbody>
            {% for valeur in user %}
                <tr>
                    <td>{{ valeur.id }}</td>
                    <td>{{ valeur.nom }}</td>
                    <td>{{ valeur.prenom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de personne ayant ce métier dans l'entreprise</p>
    {% endif %}
    <a href="{{ path('user_index') }}">Retour à l'index des utilisateurs</a>
{% endblock %}